.label-op {
  color: #b57717;
}
.layer-tip {
  text-align: left;
  max-width: 200px;
  font-weight: 700;
}
.tip-val {
  color: #b57717;
}
.net-name {
  margin-right:75px;
}
.label {
    font-size: 140%;
    font-weight: 100;
}
.node rect {
    stroke: #333;
    fill: #fff;
    rx: 5px;
    ry: 5px;
}
.activation rect {
    fill: #ffbb48;
}
.fullconnect rect {
    fill: #7575f1;
}
.convolution rect {
    fill: #7575f1;
}
.depthwise-convolution rect {
    fill: #6da1dc;
}
.deconvolution rect {
    fill: #7575f1;
}
.pooling rect {
    fill: #e42b2b;
}
.poolwithargmax rect {
    fill: #e42b2b;
}
.upsample rect {
    fill: #e42b2b;
}
.no-batch-op rect {
    fill: #58ce17;
}
.edgePath path {
    stroke: #333;
    fill: #333;
    stroke-width: 1.5px;
}
